{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'sign.css' %}">
    <title>TODO APP | Sign Up</title>
</head>

<body>

    <div class="container">
        <div class="form-container">
            <h1>Sign Up</h1>
            <hr>
            <form action="signup" method="post">
                {% csrf_token %}
                <label for="">First Name</label>
                <input type="text" name="first_name" id="" placeholder="firstname">
                <label for="">Last Name</label>
                <input type="text" name="last_name" id="" placeholder="lastname">
                <label for="">Username</label>
                <input type="text" name="username" id="" placeholder="username">
                <label for="">Email</label>
                <input type="emal" name="email" id="" placeholder="name@gmail.com">
                <label for="">Password</label>
                <input type="password" name="password1" id="">
                <label for="">Confirm password</label>
                <input type="password" name="password2" id="">
                <button type="submit">Sign Up</button>
            </form>
            {% for message in messages %}
            <p class="error">{{message}}</p>
            {% endfor %}
        </div>
    </div>
</body>

</html>