@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    /* background-color: #C9CFDF; */
    color: #425C81;
    width: 100vw;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

.app {
    display: flex;
    width: 100%;
}

nav {
    min-height: 100vh;
    width: 350px;
    background-color: #C9CFDF;
}

.nav-container {
    display: flex;
    padding: 60px 40px;
    height: calc(80% - 120px);
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-container .profile {
    height: 40px;
    padding: 0px 20px;
    background: #F3F4F9;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .profile .dp {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png");
    background-position: center;
    background-size: cover;
}

.nav-container .profile .exit-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.nav-container .all-todos {
    height: auto;
    padding: 30px 10px;
    background: #F3F4F9;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.nav-container .all-todos .cat-todos {
    margin: 10px 0px;
    padding: 10px 20px;
    background: #C9CFDF;
    border-radius: 5px;
}

.nav-container .settings {
    height: 40px;
    background: #F3F4F9;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.nav-container .settings .settings-p {
    margin-left: 20px;
}

main {
    width: calc(100vw - 350px);
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(46, 26, 53, 0.7), rgba(46, 26, 53, 0.7)), url("https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&w=600");
    /* background-color: #df5297; */
}

.todo-container {
    padding: 60px 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(90% - 120px);
}

.todo-container .time-container {
    margin: 30px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-container .time-container .time {
    font-size: 4rem;
    font-weight: 700;
    line-height: 60px;
}

.todo-container .container-todos {
    width: 100%;
}

.todo-container .container-todos .search-div {
    display: flex;
    width: 100%;
    background: rgba(251, 238, 245, 0.8);
    border-radius: 10px;
    border: none;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    outline: none;
}

.todo-container .container-todos .search-div .search {
    width: 50%;
    background: transparent;
    border: none;
    height: 50px;
    padding: 0px 20px;
    outline: none;
}

.todo-container .container-todos .search-div .date {
    width: 100px;
    background: none;
    border: none;
    color: #425c81;
    outline: none;
}

.todo-container .container-todos .search-div .time {
    width: 70px;
    background: none;
    border: none;
    color: #425c81;
    outline: none;
}

.todo-container .container-todos .search-div .add {
    background: none;
    border: none;
    height: 20px;
}

.todo-container .container-todos .todos {
    margin-top: 50px;
}

.todo-container .container-todos .todos .todo-div {
    width: 85%;
    margin: auto;
    background: rgba(251, 238, 245, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px auto;
}

.todo-container .container-todos .todos .todo-div .todo {
    min-width: 30%;
}

.todo-container .container-todos .todos .todo-div .todo-time {
    font-weight: 400;
    margin-right: -15vw;
    color: rgba(62, 62, 62, 0.84);
}

/* Responsiveness */

@media only screen and (max-width: 1480px) {
    .todo-container {
        padding: 60px 10vw;
    }
}

@media only screen and (max-width: 800px) {
    .todo-container {
        padding: 60px 2vw;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-image: url("https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&w=600");
    }

    .app {
        flex-direction: column;
    }

    nav .nav-container .all-todos,
    nav .nav-container .settings {
        display: none;
    }

    nav {
        min-height: unset;
        width: unset;
        background-color: transparent;
    }

    nav .nav-container {
        height: unset;
        padding: 60px 20px;
    }

    main {
        width: unset;
        border-radius: 20px 20px 0px 0px;
    }

    .todo-container {
        padding: 60px 10vw;
    }
}

@media only screen and (max-width: 400px) {
    .todo-container {
        padding: 60px 2vw;
    }
}